$dark-500: #505050;
$green-900: #63A60F;
$green-9002: #63A60E;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$green-dark: #4D810C;
$green-dark2: #4D800C;
$dark-900: #121212;
$dark-800: #31352B;
$dark-700: #4F4F4F;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #FFFFFF;
$grey-bg-arrow-focus:#F2F2F2;
$grey-bg-arrow-active:#F3F3F2;

%opensans-300 {
    font-family: 'OpenSans';
    font-weight: 300;
}

%opensans-400 {
    font-family: 'OpenSans';
    font-weight: 400;
}

%opensans-600 {
    font-family: 'OpenSans';
    font-weight: 600;
}

%opensans-700 {
    font-family: 'OpenSans';
    font-weight: 700;
}

%ruda-400 {
    font-family: 'Ruda';
    font-weight: 400;
}

%ruda-600 {
    font-family: 'Ruda';
    font-weight: 600;
}

%ruda-700 {
    font-family: 'Ruda';
    font-weight: 700;
}

%ruda-900 {
    font-family: 'Ruda';
    font-weight: 900;
}